div {
    color: red;
    background: lime;
    width: 20px;
    height: 30px;
    user-select: none;
}

input {
    width: 100px;
    height: 200px;
    display: inline-block;
    align-items: center;
}